img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
:root {
  --primary-font: 'Poppins', sans-serif;
  --primary-text-color: #8f95a5;
  --title-section-color: #000000;
  --menu-text-color: #263238;
  --primary-bg-color: #ffffff;
  --skills-bg-color: #f5f5f5;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
.container {
  width: 1368px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 90px;
  padding-bottom: 90px;
}
.hero {
  padding-top: 0px;
}
/* header */

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 36px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--title-section-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin-right: 236px;
}
.lex {
  color: #939393;
}
.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--menu-text-color);
  text-decoration: none;
  padding-top: 55px;
  padding-bottom: 55px;
  display: block;
}
.link:hover,
.link:focus {
  color: var(--primary-text-color);
}
.link.current {
  color: var(--primary-text-color);
}
.menu {
  list-style: none;
  display: flex;
  column-gap: 50px;
}
.header-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  margin-left: auto;

  width: 312px;
  height: 70px;
  border-radius: 10px;
  border-color: var(--menu-text-color);
  padding: 20px 56px;
}
.header-button:hover,
.header-button:focus {
  color: var(--primary-text-color);
}
/* hero */
.bulb-hero {
  display: flex;
  align-items: center;
}
.hero-container {
  display: flex;
}
.hero-img {
  margin-right: 144px;
}
.hero-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--title-section-color);
  width: 386px;
  margin-right: 35px;
  margin-bottom: 40px;
}
.hero-text {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 60px;
}
.hero-button {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: var(--menu-text-color);

  width: 426px;
  border-radius: 10px;
  border-color: var(--menu-text-color);
  padding: 23px 64px;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
}
/* skills */
.skills-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--title-section-color);
  margin-bottom: 60px;
  text-align: center;
}
.skills-list {
  list-style: none;
  display: flex;
}
.skills-blok-second {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.skills-blok-third {
  display: flex;
}
.vertical {
  flex-basis: 426px;
}

.skills-list-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: var(--menu-text-color);
}
.skills-text {
  font-size: 16px;
  line-height: 1.5;
}
.skills-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-bg-color);
  background-color: var(--menu-text-color);
  text-decoration: none;
}
.skills-link:hover,
.skills-link:focus {
  color: var(--primary-text-color);
}
.skills-item {
  background-color: var(--skills-bg-color);
}
/* about us */

.about-block {
  display: flex;
}
.about-block-first {
  margin-right: 146px;
}
.about-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--title-section-color);
  margin-bottom: 60px;
}
.about-text {
  font-size: 20px;
  line-height: 1.8;
}
.about-list {
  list-style: none;
  display: flex;
  column-gap: 131px;
}
.about-figure {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--menu-text-color);
  text-align: center;
}
.figure-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
/* pricing */

.pricing-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--title-section-color);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 60px;
}
.pricing-list {
  display: flex;
  column-gap: 30px;
  list-style: none;
}
.pricing-item {
  flex-basis: calc(100% / 3);
}
.pricing-option {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--menu-text-color);
  margin-top: 31px;
  margin-bottom: 20px;
}
.pricing-text {
  font-size: 20px;
  line-height: 1.5;
}
.pricing-price {
  font-size: 24px;
  line-height: 1.5;
  color: var(--menu-text-color);
}
.pricing-period {
  font-size: 18px;
  line-height: 1.5;
  color: #546269;
}

/* Contact Us */
.contacts-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--title-section-color);
}
.contacts-text {
  font-size: 20px;
  line-height: 1.5;
}
.contacts-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: var(--menu-text-color);
}
.contacts-button:hover,
.contacts-button:focus {
  color: var(--primary-text-color);
}

/* footer */
.footer-list {
  list-style: none;
}
.footer-link {
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--menu-text-color);
}
